@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {}

body {
  -webkit-overflow-scrolling: touch;
}



/***********************************
 *** Scrollbar CSS ***
 
:root {
  --track-scroll: hsla(240, 7%, 10%, 1);
  --track-hover: hsla(240, 7%, 20%, 1);
  --thumb-scroll: hsla(240, 7%, 20%, 1);
  --thumb-hover: hsla(240, 7%, 35%, 1);
  --body-bg: #070708;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--track-scroll);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--track-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb-scroll);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover);
  border-radius: 100vw;
}

::-webkit-scrollbar-corner {
  background-color: var(--body-bg);
}

body {
  scrollbar-color: var(--thumb-scroll) var(--track-scroll);
  scrollbar-width: auto;
}

**********************************/