@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .w-workCard-500 {
    width: min(90%, 500px)
  }

  .w-workCard-400 {
    width: min(45%, 450px)
  }

  .p-main-s {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .p-main-m {
    padding-top: max(7rem, 10vh);
    padding-bottom: 5rem;
  }

  .p-main-l {
    padding-top: max(7rem, 14vh);
    padding-bottom: 5rem;
  }

  .buttonMain {
    @apply flex justify-center items-center text-zinc-300 hover:text-zinc-100 active:text-sky-500 text-sm rounded-2xl border-2 border-zinc-600 hover:border-zinc-400 active:border-sky-500
  }

  .contactInput {
    @apply w-full rounded-md border border-gray-600 bg-gray-900 py-2 px-3 text-base text-gray-200 outline-none focus:border-teal-800 focus:shadow-md placeholder:text-zinc-500 placeholder:italic placeholder:text-base
  }
}

body {
  -webkit-overflow-scrolling: touch;
}

.FlipContainer {
  perspective: 1200px;
}

.FlipContent {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.FlipContainer:hover .FlipContent {
  transform: rotateY(180deg);
  transition: transform 0.5s 0.2s;
}

.FlipFront,
.FlipBack {
  backface-visibility: hidden;
}

.FlipBack {
  transform: rotateY(180deg);
}


/***********************************
 *** Scrollbar CSS ***
 
:root {
  --track-scroll: hsla(240, 7%, 10%, 1);
  --track-hover: hsla(240, 7%, 20%, 1);
  --thumb-scroll: hsla(240, 7%, 20%, 1);
  --thumb-hover: hsla(240, 7%, 35%, 1);
  --body-bg: #070708;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--track-scroll);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--track-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb-scroll);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover);
  border-radius: 100vw;
}

::-webkit-scrollbar-corner {
  background-color: var(--body-bg);
}

body {
  scrollbar-color: var(--thumb-scroll) var(--track-scroll);
  scrollbar-width: auto;
}

**********************************/