/* Global CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/********************************
** Body, root, background color:
** tailwind: zinc-950: '#070709' 
********************************/

body {
  -webkit-overflow-scrolling: touch;
}

@layer components {
  .w-imageCircles {
    width: clamp(204px, calc(33vh + 3vw), 320px);
  }

  .max-w-imageCircles {
    max-width: clamp(204px, calc(15vh + 25vw), 320px);
  }
}

/********************************
*** Keyframes
********************************/

/* used on Modal close */
@keyframes fadeOut {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0;
    scale: 0.5;
  }
}

@layer utilities {
  /* Borders for Testing */
  .brdT {
    border: 1px solid #765;
  }

  .brdTMg {
    border: 1px solid #807;
  }

  .brdTR {
    border: 1px solid #a00;
  }

  .brdTG {
    border: 1px solid #080;
  }

  .brdTB {
    border: 1px solid #08d;
  }
}
