@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .circles {
    margin-top: 323px;
  }

  .HeroButton {
    @apply w-48 py-2 rounded-full uppercase text-sm tracking-widest transition-all hover:border-zinc-500 border border-zinc-700 text-zinc-400 hover:text-zinc-300 z-50;
  }

  .HeaderLink {
    @apply py-4 uppercase text-sm tracking-widest transition-all text-zinc-400 hover:text-zinc-200;
  }
}

body {
  -webkit-overflow-scrolling: touch;
}

.AllMaxWidth {
  @apply w-full max-w-7xl;
}


/***********************************
 *** Skeleton CSS -- Unused ***

.Skeleton {
  background: linear-gradient(90deg, #383944, #33343f, #383944, #31323d, #383944);
  background-size: 200%;
  animation: skeleton 2s ease-in-out infinite;
}

@keyframes skeleton {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: -200% 0%;
  }
}

**********************************/


/***********************************
 *** Scrollbar CSS ***
 
:root {
  --track-scroll: hsla(240, 7%, 10%, 1);
  --track-hover: hsla(240, 7%, 20%, 1);
  --thumb-scroll: hsla(240, 7%, 20%, 1);
  --thumb-hover: hsla(240, 7%, 35%, 1);
  --body-bg: #070708;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--track-scroll);
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--track-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumb-scroll);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--thumb-hover);
  border-radius: 100vw;
}

::-webkit-scrollbar-corner {
  background-color: var(--body-bg);
}

body {
  scrollbar-color: var(--thumb-scroll) var(--track-scroll);
  scrollbar-width: auto;
}

**********************************/